body{
    color: #fff;
    background-color: #525252;
}
form{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-items: left;
    width: 10%;
    margin: 20px;
    gap: 5px;
}